#!/usr/bin/make -f

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
include /usr/share/quilt/quilt.make

%:
	dh $@

override_dh_auto_configure: patch
	./bootstrap
	dh_auto_configure -- \
	--enable-fuse --enable-jpeg --disable-pam

override_dh_installdeb:
	# Replace some config files
	mv debian/xrdp/etc/xrdp/xrdp.ini debian/xrdp/etc/xrdp/xrdp.ini.sample
	cp debian/xrdp.ini debian/xrdp/etc/xrdp/
	mv debian/xrdp/etc/xrdp/sesman.ini debian/xrdp/etc/xrdp/sesman.ini.sample
	cp debian/sesman.ini debian/xrdp/etc/xrdp/
	mv debian/xrdp/etc/xrdp/rsakeys.ini debian/xrdp/etc/xrdp/rsakeys.ini.sample
	# Replace systemd units
	rm -f debian/xrdp/lib/systemd/system/xrdp.service
	rm -f debian/xrdp/lib/systemd/system/xrdp-sesman.service
	install debian/xrdp.service debian/xrdp/lib/systemd/system/xrdp.service
	install debian/xrdp-sesman.service debian/xrdp/lib/systemd/system/xrdp-sesman.service
	# Add upstart conf
	mkdir -p debian/xrdp/etc/init
	install debian/xrdp.conf debian/xrdp/etc/init/xrdp.conf
	install debian/xrdp-sesman.conf debian/xrdp/etc/init/xrdp-sesman.conf
	dh_installdeb -a

override_dh_clean: unpatch
	dh_clean
