#!/usr/bin/make -f

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
include /usr/share/quilt/quilt.make

%:
	dh $@

override_dh_auto_configure: patch
	./bootstrap
	dh_auto_configure -- \
	--enable-fuse --enable-jpeg

override_dh_installdeb:
	# Remove "-ac"
	sed -i -e 's|^\(param.\+=-ac\)|#\1|g' debian/xrdp/etc/xrdp/sesman.ini
	# Enable 1s delay form vnc
	sed -i -e 's|^#delay_ms=.\+|delay_ms=1000|g' debian/xrdp/etc/xrdp/xrdp.ini
	# Remove sysv init script. Haven't had time to fix this yet
	rm debian/xrdp/etc/init.d/xrdp
	rmdir debian/xrdp/etc/init.d
	# Replace systemd units
	rm debian/xrdp/lib/systemd/system/xrdp.service
	rm debian/xrdp/lib/systemd/system/xrdp-sesman.service
	install debian/xrdp.service debian/xrdp/lib/systemd/system/xrdp.service
	install debian/xrdp-sesman.service debian/xrdp/lib/systemd/system/xrdp-sesman.service
	# Add upstart conf
	mkdir -p debian/xrdp/etc/init
	install debian/xrdp.conf debian/xrdp/etc/init/xrdp.conf
	install debian/xrdp-sesman.conf debian/xrdp/etc/init/xrdp-sesman.conf
	dh_installdeb -a

override_dh_clean: unpatch
	dh_clean
